body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

#fpsCounter {
  font-size: x-large;
  width: 100px;
  height: 25px;
  position: absolute;
  background-color: white;
}

#c {
  background-image: url("/include/img/galaxy.jpg");
  background-size: cover;
}
